.contact {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  &__container {
    background-color: rgba(rgb(255, 255, 255), 0.7);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  & h3 {
    color: $color-dark;
    padding: 5rem 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    justify-content: space-between;
    height: 100%;
    padding: 2rem;
    gap: 1rem;
    &__email {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.2rem;
    }
    & input {
      background-color: white;
      border: none;
      padding: 1rem;
      font-size: 1.4rem;
      font-family: "Open Sans", sans-serif;
      &:focus {
        outline: none;
      }
      &::placeholder {
        opacity: 0.95;
      }
    }

    & textarea {
      background-color: white;

      flex: 40rem 10rem 30rem;

      border: none;
      padding: 1rem;
      font-size: 1.4rem;
      font-family: "Open Sans", sans-serif;
      &:focus {
        outline: none;
      }
    }
    & .contact__btn {
      color: $color-dark;
      border: none;
      font-size: 1.6rem;
      padding: 1rem 1rem;
      align-self: center;
      background-color: transparent;
      text-transform: uppercase;
      border-bottom: 2px solid $color-dark;
    }
  }
}
