h4 {
  // color: $color-light;
  // font-family: 'Playfair Display', serif;
  // font-style: italic;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;

  font-size: 2rem;
  margin: 2rem 4rem;
  opacity: 0.6;
}
h3 {
  position: relative;
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  color: $color-primary;

  margin: 0;

  z-index: 4;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}
.btn {
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  position: absolute;

  z-index: 50;
  border: none;
  border-top: 5px solid black;
  border-left: 5px solid black;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.6s;
  &:hover {
    background-color: white;
  }
}
